body{
    background-image: url('p3.jpg');
    background-repeat: no-repeat;
    background-image: fixed;
    background-size: cover;
    width: 100%;
}
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.popup{
    width:450px;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    text-align: center;
    left:35%;
    bottom:40%;
    letter-spacing: 0px;
    visibility: visible;
    padding: 0 30px 30px;
    font-size:18px;
    height: 230px;
    color:#000;
 }
 .popup h3{
     text-align: center;
     padding: 5px;
 }
 
 .button a{
     color: #fff;
     text-decoration: none;
     font-weight: 400px;
     letter-spacing: 2px;
 }
 .popup i{
     color:#05f505;
     font-size: 60px;  
 }
 .popup button{
     width:100%;
     background: #05f505;
     padding: 10px 0;
     border:none;
     outline:none;
     margin-top: 10px;
     border-radius:4px ;
     font-size: 24px;
     color:#fff;
     cursor: pointer;
     box-shadow:  0 0 0 2px rgba(86, 69, 69, 0.1);
 }