
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styl.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/succ.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body>
    <header>
        <!-- Header Content -->
    </header>
    <div class="popup" id="popup">
        <i class="fa fa-check-circle-o" ></i>
    <h1>Details Uploaded Successfully!</h1>
    <a href="index.html"><button onclick="closeslide()" >ok</button></a>
</body>
</html>
